/* Classes */
.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
}

.top-section {
  padding: 10%;
  background-color: red;
  color: #fff;
}

.footer-section {
  padding: 2%;
  background-color: #0d1118;
  color: #ffffff;
}
