/* Elements */

:root {
  --primary-color: #0d1118;
  --secondary-color: #d50000;
}

body {
  background-color: var(--primary-color);
}

/* Classes */

.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
}

.top-section {
  padding: 8% 8% 3% 8%;
  background-color: var(--primary-color);
  color: #ffffff;
}

.top-h1-text {
  font-size: 400%;
}

.top-p-text {
  font-size: 140%;
}

.footer-section {
  padding: 2%;
  background-color: var(--primary-color);
  color: #ffffff;
}

.badge {
  background-color: var(--secondary-color);
  padding: 2%;
}

.badge:hover {
  background-color: #f8c45a;
}

.btn-primary {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 15px 15px;
  font-size: 16px;
  margin-right: 15px;
  border: 2px solid #ffffff;
  font-weight: 700;
}

.btn-primary:hover {
  background-color: #f8c45a;
  border: 2px solid #ffffff;
}

.btn-primary:active {
  background-color: #f8c45a;
  border: 2px solid #ffffff;
}

.btn-primary:focus {
  background-color: #f8c45a;
  border: 2px solid #ffffff;
}

.btn-secondary {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 15px 15px;
  font-size: 16px;
  margin-right: 15px;
  border: 2px solid var(--secondary-color);
  font-weight: 700;
}

.btn-secondary:hover {
  background-color: #f8c45a;
  border: 2px solid #ffffff;
}

.btn-secondary:active {
  background-color: #f8c45a;
  border: 2px solid #ffffff;
}

.btn-secondary:focus {
  background-color: #f8c45a;
  border: 2px solid #ffffff;
}
.middle-section {
  padding: 0% 8% 8% 8%;
  background-color: var(--primary-color);
  color: #ffffff;
}
